[user]
  name = Jacky
  email = jacky2chong@gmail.com
[core]
  quotepath = false
  editor = /usr/bin/vim
[difftool "kdiff3"]
  path = /usr/local/bin/kdiff3
  trustExitCode = false
[difftool]
  prompt = false
[diff]
  tool = kdiff3
[mergetool "kdiff3"]
  path = /usr/local/bin/kdiff3
  trustExitCode = false
[mergetool]
  keepBackup = false
[merge]
  tool = kdiff3
