[user]
	name = Jacky
	email = jacky2chong@gmail.com
[core]
	quotepath = false
	editor = vim
	autocrlf = input
[difftool "kdiff3"]
  path = /usr/local/bin/kdiff3
  trustExitCode = false
[difftool]
  prompt = false
[diff]
  tool = kdiff3
[mergetool "kdiff3"]
  path = /usr/local/bin/kdiff3
  trustExitCode = false
[mergetool]
	keepBackup = false
[merge]
  tool = kdiff3
[gui]
	recentrepo = /Users/jacky/Sites/rails/codes/dxe_cny
[push]
	default = simple
